.container {
  /* min-height: 100vh; */
  margin: 5rem 0;
  width: 100%;
  display: grid;
  place-items: center;
}

.main {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  max-width: 450px;
  width: 100%;
}

.main h1 {
  font-size: 2rem;
}

.main form {
  width: 100%;
  margin: 1rem 0;
}

.main form input {
  height: 2.5rem;
  max-width: 450px;
  padding: 0 1rem;
  width: 100%;
}

.main form {
  display: flex;
}

.main form button {
  cursor: pointer;
  font-size: .9rem;
  padding: 0 1rem;
  text-align: left;
}